h1 {
    color: rgb(96, 13, 121);
}
h2 {
    color: rgb(224, 22, 72);
}
h3 {
    color: rgb(243, 10, 154);
}
body {
    background-color: rgb(234, 171, 236);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
